---
import BaseLayout from '../layouts/BaseLayout.astro';
import { site } from '../site.config';
import { t } from '../i18n';

const i18n = t(site.language);
const canonicalUrl = new URL('/', Astro.site).href;
---

<BaseLayout title={i18n.pageHome} pageId="index" canonicalUrl={canonicalUrl}>
  <section class="home-intro" aria-labelledby="home-title">
    <h2>Hi !, I'm Lee Yeong Khang</h2>
    <div>I build machine learning related software</div>
  </section>

</BaseLayout>
